@model dynamic
@using ImouRentACar.Models.Enums
@using ImouRentACar.Data

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout/_AdminLayout.cshtml";

}
<section class="content-header">
    <h1>
        Landing Details
    </h1>
    <ol class="breadcrumb">
        <li><a asp-action="Dashboard" asp-controller="Admin"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Landing Details</li>
    </ol>
</section>

<section class="content">
    @if (TempData["landing"] != null)
    {
        if (TempData["notificationType"].Equals(NotificationType.Success.ToString()))
        {
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                @TempData["landing"]
            </div>
        }
        else if (TempData["notificationtype"].Equals(NotificationType.Error.ToString()))
        {
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                @TempData["landing"]
            </div>
        }
        else if (TempData["notificationtype"].Equals(NotificationType.Info.ToString()))
        {
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                @TempData["landing"]
            </div>
        }

    }
    <div class="row">
        <div class="col-md-3">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-blue" style="align-content: center">
                    <!-- /.widget-user-image -->
                    <h3 class="widget-user-username">LOGO</h3>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        @if (Convert.ToInt32(ViewData["logochecker"]) == 0)
                        {
                            <li><a asp-action="AddLogo" asp-controller="Logo">Add Image <span class="pull-right"><i class="fa fa-plus" style="color: green"></i></span></a></li>
                        }

                        @foreach (Logo logo in Model.Logos)
                        {
                            <li><a data-modal="" asp-action="View" asp-controller="Logo" asp-route-id="@logo.LogoId">View logo<span class="pull-right"><i class="fa fa-image" style="color: blue"></i></span></a></li>
                            <li><a data-modal="" asp-action="Delete" asp-controller="Logo" asp-route-id="@logo.LogoId">Delete Logo<span class="pull-right"><i class="fa fa-trash" style="color: red"></i></span></a></li>
                        }

                    </ul>
                </div>
            </div>
            <!-- /.widget-user -->
        </div>

        <div class="col-md-3">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-blue" style="align-content: center">
                    <!-- /.widget-user-image -->
                    <h3 class="widget-user-username">HEADER</h3>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        @if (Convert.ToInt32(ViewData["headerchecker"]) == 0)
                        {
                            <li><a asp-action="AddHeader" asp-controller="Header">Add Image <span class="pull-right"><i class="fa fa-plus" style="color: green"></i></span></a></li>
                        }
                        @foreach (Header header in Model.Headers)
                        {
                            <li><a data-modal="" asp-action="View" asp-controller="Header" asp-route-id="@header.HeaderId">View Image <span class="pull-right"><i class="fa fa-image" style="color: blue"></i></span></a></li>
                            <li><a data-modal="" asp-action="WriteUp" asp-controller="Header" asp-route-id="@header.HeaderId">View Write Up <span class="pull-right"><i class="fa fa-book" style="color: blue"></i></span></a></li>
                            <li><a data-modal="" asp-action="Delete" asp-controller="Header" asp-route-id="@header.HeaderId">Delete Image<span class="pull-right"><i class="fa fa-trash" style="color: red"></i></span></a></li>
                        }

                    </ul>
                </div>
            </div>
            <!-- /.widget-user -->
        </div>

        <div class="col-md-3">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-blue" style="align-content: center">
                    <!-- /.widget-user-image -->
                    <h3 class="widget-user-username">ABOUT US</h3>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        @if (Convert.ToInt32(ViewData["aboutusimagechecker"]) == 0)
                        {
                            <li><a asp-action="AddImage" asp-controller="AboutUsImage">Add Image <span class="pull-right"><i class="fa fa-plus" style="color: green"></i></span></a></li>
                        }
                        @foreach (AboutUsImage aboutUsImage in Model.AboutUsImages)
                        {
                            <li><a data-modal="" asp-action="View" asp-controller="AboutUsImage" asp-route-id="@aboutUsImage.AboutUsImageId">View Image <span class="pull-right"><i class="fa fa-image" style="color: blue"></i></span></a></li>
                            <li><a data-modal="" asp-action="WriteUp" asp-controller="AboutUsImage" asp-route-id="@aboutUsImage.AboutUsImageId">View Write Up <span class="pull-right"><i class="fa fa-book" style="color: blue"></i></span></a></li>
                            <li><a data-modal="" asp-action="Delete" asp-controller="AboutUsImage" asp-route-id="@aboutUsImage.AboutUsImageId">Delete Image<span class="pull-right"><i class="fa fa-trash" style="color: red"></i></span></a></li>
                        }

                    </ul>
                </div>
            </div>
            <!-- /.widget-user -->
        </div>

        <div class="col-md-3">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-blue" style="align-content: center">
                    <!-- /.widget-user-image -->
                    <h3 class="widget-user-username">ABOUT US 2</h3>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        @if (Convert.ToInt32(ViewData["aboutusimagetwochecker"]) == 0)
                        {
                            <li><a asp-action="AddImage" asp-controller="AboutUsImageTwo">Add Image <span class="pull-right"><i class="fa fa-plus" style="color: green"></i></span></a></li>
                        }
                        @foreach (AboutUsImageTwo aboutUsImageTwo in Model.AboutUsImageTwos)
                        {
                            <li><a data-modal="" asp-action="View" asp-controller="AboutUsImageTwo" asp-route-id="@aboutUsImageTwo.AboutUsImageTwoId">View Image <span class="pull-right"><i class="fa fa-image" style="color: blue"></i></span></a></li>
                            <li><a data-modal="" asp-action="WriteUp" asp-controller="AboutUsImageTwo" asp-route-id="@aboutUsImageTwo.AboutUsImageTwoId">View WriteUp <span class="pull-right"><i class="fa fa-book" style="color: blue"></i></span></a></li>
                            <li><a data-modal="" asp-action="Delete" asp-controller="AboutUsImageTwo" asp-route-id="@aboutUsImageTwo.AboutUsImageTwoId">Delete Image<span class="pull-right"><i class="fa fa-trash" style="color: red"></i></span></a></li>
                        }
                    </ul>
                </div>
            </div>
            <!-- /.widget-user -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-blue" style="align-content: center">
                    <!-- /.widget-user-image -->
                    <h3 class="widget-user-username">CONTACTS</h3>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        @if (Convert.ToInt32(ViewData["contactchecker"]) == 0)
                        {
                            <li><a data-modal="" asp-action="Create" asp-controller="Contact">Add Contact Details <span class="pull-right"><i class="fa fa-plus" style="color: green"></i></span></a></li>
                        }

                        @foreach (Contact contact in Model.Contacts)
                        {
                            <li><a data-modal="" asp-action="View" asp-controller="Contact" asp-route-id="@contact.ContactId">View Contact<span class="pull-right"><i class="fa fa-address-book" style="color: blue"></i></span></a></li>
                            <li><a data-modal="" asp-action="Edit" asp-controller="Contact" asp-route-id="@contact.ContactId">Edit Contact<span class="pull-right"><i class="fa fa-pencil" style="color: blue"></i></span></a></li>
                            <li><a data-modal="" asp-action="Delete" asp-controller="Contact" asp-route-id="@contact.ContactId">Delete Contact<span class="pull-right"><i class="fa fa-trash" style="color: red"></i></span></a></li>
                        }

                    </ul>
                </div>
            </div>
            <!-- /.widget-user -->
        </div>
        <div class="col-md-3">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-blue" style="align-content: center">
                    <!-- /.widget-user-image -->
                    <h3 class="widget-user-username">POLICY</h3>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        @if (Convert.ToInt32(ViewData["policychecker"]) == 0)
                        {
                            <li><a data-modal="" asp-action="Create" asp-controller="Policy">Add Policy <span class="pull-right"><i class="fa fa-plus" style="color: green"></i></span></a></li>
                        }

                        @foreach (Policy policy in Model.Policies)
                        {
                            <li><a data-modal="" asp-action="View" asp-controller="Policy" asp-route-id="@policy.PolicyId">View Policy<span class="pull-right"><i class="fa fa-address-book" style="color: blue"></i></span></a></li>
                            <li><a data-modal="" asp-action="Delete" asp-controller="Policy" asp-route-id="@policy.PolicyId">Delete Policy<span class="pull-right"><i class="fa fa-trash" style="color: red"></i></span></a></li>
                        }

                    </ul>
                </div>
            </div>
            <!-- /.widget-user -->
        </div>
    </div>
</section>


<script src="~/Admin/bower_components/jquery/dist/jquery.js"></script>
<script src="~/Modal/Modal.js"></script>

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'>
            </div>
        </div>
    </div>
</div>
