@model ImouRentACar.Models.Enquiry

@{
    ViewData["Title"] = "Details";
    Layout = null;
}

<!--MODAL HEADER-->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3> <strong>Viewing enquiry made by: @Html.DisplayFor(model => model.DisplayName) </strong> </h3>
</div>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <!--MODAL BODY-->
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4">
                <dt style="text-transform:capitalize">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                   Last Name
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Organization)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Organization)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    Date Sent
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DateSent)
                </dd>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <dt>
                    @Html.DisplayNameFor(model => model.Comment)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Comment)
                </dd>
            </div>
        </div> 
    </div>

    <!--MODAL FOOTER-->
    <div class="modal-footer">
        <div class="row pull-right">
            <div class="col-md-12">
                <a class="btn btn-danger" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

