@model ImouRentACar.Models.TwoWayTrip

@{
    ViewData["Title"] = "Two Way Trip";
    Layout = "~/Views/Shared/LandingLayout/_LandingLayout.cshtml";
}

<div class="allcontain" style="background-color: #473454">
    <div class="container">
        <div class="" style="padding-bottom: 84px">
            <div class="feturedsection">
                <h1 style="font-size:40px; font-family: montserrat; padding-top:5px; padding-bottom:5px; text-align: center; color: white; text-shadow: 1px 1px 2px #473454, 0 0 25px #765c6c, 0 0 5px #765c6c;" class="text-center">&bullet; TWO WAY TRIP  &bullet;</h1>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8 col-md-offset-2">
                    <form asp-action="Book">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @if (TempData["error"] != null)
                        {
                            <p class="text-danger">@TempData["error"]</p>

                        }
                            <div class="col-md-6" style="padding-right: 25px;">
                                <h4 style="color: black; text-align:left; font-weight: 300; padding-bottom:10px; font-family: montserrat"><b>PICK UP</b></h4>
                                <div class="row">
                                    <div class="col-md-6" style="padding-right: 15px">
                                        <label style="color: whitesmoke; font-family: montserrat;">STATE</label>
                                        <select style="color: black; font-weight:500; font-family: montserrat; text-align: center" class="form-control" id="state" asp-items="ViewBag.PickOffStateId">
                                            <option selected>----- States-----</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label style="color: whitesmoke;font-family: montserrat"">LGA</label>
                                        <select asp-for="PickUpLgaId" style="color: black; font-family: montserrat; font-weight:500 " class="form-control" id="lga">
                                            <option selected> Pick Up Lga</option>
                                        </select>
                                        <span asp-validation-for="PickUpLgaId" class="text-danger"></span>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6" style="padding-right: 15px">
                                        <label style="color: whitesmoke;font-family: montserrat">DATE </label>
                                        <input type="text" asp-for="PickDate" style="color: black; font-family: montserrat; font-weight:500;" class="form-control datepicker " placeholder="Date" />
                                        <span asp-validation-for="PickDate" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label style="color: whitesmoke;font-family: montserrat">TIME </label>
                                        <input type="time" asp-for="PickUpTime" style="color: black; font-family: montserrat; font-weight:500;" class="form-control " placeholder="Time" />
                                        <span asp-validation-for="PickUpTime" class="text-danger"></span>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <label style="color: whitesmoke;font-family: montserrat">LOCATION </label>
                                        <textarea type="text" asp-for="PickUpLocation" style="color: black; font-family: montserrat; font-weight:500;" class="form-control " placeholder="Location"></textarea>
                                        <span asp-validation-for="PickUpLocation" class="text-danger"></span>
                                    </div>
                                </div>
                                <br />
                            </div>

                            <div class="col-md-6" style="padding-right: 25px">
                                <h4 style="color: black; text-align:left; font-weight: 300; padding-bottom:10px;font-family: montserrat""><b>DESTINATION</b></h4>
                                <div class="row">
                                    <div class="col-md-6" style="padding-right: 15px">
                                        <label style="color: whitesmoke; font-family: montserrat">STATE</label>
                                        <select style="color: black; font-weight:500; font-family: montserrat; text-align: center" class="form-control" id="state2" asp-items="ViewBag.DropOffStateId">
                                            <option selected>---------- States--------</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label style="color: whitesmoke; font-family: montserrat">LGA</label>
                                        <select asp-for="DestinationLgaId" style="color: black; font-family: montserrat; font-weight:500 " class="form-control" id="lga2">
                                            <option selected> Pick Up Lga</option>
                                        </select>
                                        <span asp-validation-for="DestinationLgaId" class="text-danger"></span>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6" style="padding-right: 15px">
                                        <label style="color: whitesmoke; font-family: montserrat">RETURN DATE</label>
                                        <input type="text" asp-for="ReturnTripDate" style="color: black; font-family: montserrat; font-weight:500;" class="form-control datepicker " placeholder="Return Date" />
                                        <span asp-validation-for="PickDate" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label style="color: whitesmoke; font-family: montserrat">RETURN TIME</label>
                                        <input type="time" asp-for="ReturnTripTime" style="color: black; font-family: montserrat; font-weight:500;" class="form-control " placeholder="Return Time" />
                                        <span asp-validation-for="PickUpTime" class="text-danger"></span>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <label style="color: whitesmoke; font-family: montserrat">LOCATION </label>
                                        <textarea type="text" asp-for="Destination" style="color: black; font-weight:500;" class="form-control " placeholder="Destination"></textarea>
                                        <span asp-validation-for="Destination" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        <br />
                        <div class="row" style="padding-right:25px;">
                            <button type="submit" style="background-color: #020243; color: white; padding-right" class="btn pull-right btn-submit">  Next <i class="fa fa-long-arrow-right"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="copyright">
        &copy; Copy right @DateTime.Now.Year | <a href="#">Privacy </a>| <a href="#">Policy</a>
    </div>
    <div class="atisda">
        Designed by <a href="http://www.webdomus.net/">meckblvck </a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/DatePicker/jquery-ui.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                minDate: new Date(@DateTime.Now.Year, @DateTime.Now.Month - 1, @DateTime.Now.Day),

            });
        });
    </script>
    <script>
        $(document).ready(function () {
            if ($('#state').val() != '') {
                getLGAs();
            }
            $('#state').on('input', function () {
                getLGAs();
            });
            function getLGAs() {
                $('#lga').children("option").remove();
                $.ajax({
                    type: 'GET',
                    url: '/TwoWayTrip/GetLgasForState',
                    dataType: 'json',
                    data: { id: $('#state').val() },
                    success: function (lga) {
                        console.log(lga);
                        $.each(lga, function (i, lga) {
                            $('#lga').append('<option value="' + lga.lgaId + '">' + lga.name + '</option>');
                        });
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        });
        $(document).ready(function () {
            if ($('#state2').val() != '') {
                getLGAs();
            }
            $('#state2').on('input', function () {
                getLGAs();
            });
            function getLGAs() {
                $('#lga2').children("option").remove();
                $.ajax({
                    type: 'GET',
                    url: '/TwoWayTrip/GetLgasForState',
                    dataType: 'json',
                    data: { id: $('#state2').val() },
                    success: function (lga) {
                        console.log(lga);
                        $.each(lga, function (i, lga) {
                            $('#lga2').append('<option value="' + lga.lgaId + '">' + lga.name + '</option>');
                        });
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        });
    </script>

}