@model IEnumerable<ImouRentACar.Models.TwoWayTrip>
@using ImouRentACar.Models.Enums

@{
    ViewData["Title"] = "Processing OneWayTrips";
    Layout = "~/Views/Shared/AdminLayout/_AdminLayout.cshtml";
    var x = 1;
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        TWO WAY TRIPS IN PROCESS
    </h1>
    <ol class="breadcrumb" style="padding-bottom: 10px">
        <li><a asp-controller="Admin" asp-action="Dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Two Way Trips In Process</li>
    </ol>


</section>

<!-- Main content -->
<section class="content">
    @if (TempData["twowaytrip"] != null)
    {
        if (TempData["notificationType"].Equals(NotificationType.Success.ToString()))
        {
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                @TempData["twowaytrip"]
            </div>
        }
        else if (TempData["notificationtype"].Equals(NotificationType.Error.ToString()))
        {
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                @TempData["twowaytrip"]
            </div>
        }
        else if (TempData["notificationtype"].Equals(NotificationType.Info.ToString()))
        {
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                @TempData["twowaytrip"]
            </div>
        }

    }
    <!-- Default box -->
    <div class="box">
        <div class="box-body">
            <table class="table" id="myTable">
                <thead>
                    <tr>
                        <th>
                            S/N
                        </th>
                        <th>
                            Date Of Booking
                        </th>
                        <th>
                            Amount( &#8358 )
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @(x++)
                            </td>
                            <td>
                                @item.DateSent
                            </td>
                            <td>
                                &#8358 @item.TotalBookingPrice
                            </td>
                            <td>
                                @if (item.Verification == Verification.YetToReply)
                                {
                                    <a class="btn btn-success btn-sm" data-modal="" asp-action="Approve" asp-route-id="@item.TwoWayTripId"><i class="fa fa-check "></i> Approve</a>
                                    <a class="btn btn-info btn-sm" data-modal="" asp-action="Details" asp-route-id="@item.TwoWayTripId"><i class="fa fa-book "></i> Booking Details</a>
                                    <a class="btn btn-info btn-sm" data-modal="" asp-action="Details" asp-route-id="@item.TwoWayTripId"><i class="fa fa-book "></i> Passenger Details</a>
                                }
                                @if (item.Verification == Verification.Approve && item.DriverId == 0)
                                {
                                    <a class="btn btn-success btn-sm" data-modal="" asp-action="Disapprove" asp-route-id="@item.TwoWayTripId"><i class="fa fa-cog "></i> Disapprove</a>
                                    <a class="btn btn-warning btn-sm" data-modal="" asp-action="AssignDriver" asp-route-id="@item.TwoWayTripId"><i class="fa fa-user "></i> Assign Driver</a>
                                    <a class="btn btn-info btn-sm" data-modal="" asp-action="Details" asp-route-id="@item.TwoWayTripId"><i class="fa fa-book "></i> Booking Details</a>
                                    <a class="btn btn-info btn-sm" data-modal="" asp-action="Details" asp-route-id="@item.TwoWayTripId"><i class="fa fa-book "></i> Passenger Details</a>
                                }
                                @if (item.Verification == Verification.Approve && item.DriverId != 0)
                                {
                                    <a class="btn btn-success btn-sm" data-modal="" asp-action="Disapprove" asp-route-id="@item.TwoWayTripId"><i class="fa fa-cog "></i> Disapprove</a>
                                    <a class="btn btn-warning btn-sm" data-modal="" asp-action="RemoveDriver" asp-route-id="@item.TwoWayTripId"><i class="fa fa-user "></i> Remove Driver</a>
                                    <a class="btn btn-warning btn-sm" data-modal="" asp-action="SendLink" asp-route-id="@item.TwoWayTripId"><i class="fa fa-user "></i> Send Link</a>
                                    <a class="btn btn-info btn-sm" data-modal="" asp-action="Details" asp-route-id="@item.TwoWayTripId"><i class="fa fa-book "></i> Booking Details</a>
                                    <a class="btn btn-info btn-sm" data-modal="" asp-action="Details" asp-route-id="@item.TwoWayTripId"><i class="fa fa-book "></i> Passenger Details</a>
                                }
                                @if (item.Verification == Verification.LinkSent)
                                {
                                    <a class="btn btn-info btn-sm" data-modal="" asp-action="Details" asp-route-id="@item.TwoWayTripId"><i class="fa fa-book "></i> Booking Details</a>
                                    <a class="btn btn-info btn-sm" data-modal="" asp-action="Details" asp-route-id="@item.TwoWayTripId"><i class="fa fa-book "></i> Passenger Details</a>
                                }
                                @if (item.Verification == Verification.Disapprove)
                                {
                                    <a class="btn btn-info btn-sm" data-modal="" asp-action="Details" asp-route-id="@item.TwoWayTripId"><i class="fa fa-book "></i> Booking Details</a>
                                    <a class="btn btn-info btn-sm" data-modal="" asp-action="Details" asp-route-id="@item.TwoWayTripId"><i class="fa fa-book "></i> Passenger Details</a>
                                    @if (Convert.ToString(ViewData["userrole"]) == "SuperUser")
                                    {
                                    <a class="btn btn-info btn-sm" data-modal="" asp-action="Delete" asp-route-id="@item.TwoWayTripId"><i class="fa fa-book "></i> Delete</a>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->

<script src="~/Admin/bower_components/jquery/dist/jquery.js"></script>
<script src="~/Modal/Modal.js"></script>

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            columnDefs: [
                {
                    targets: [0, 1, 2],
                    className: 'dataTable'
                }
            ]
        });
    });
</script>
