@model IEnumerable<ImouRentACar.Models.Contact>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LandingLayout/_LandingLayout.cshtml";
}

<style>
    .bottommenu > ul {
        padding-left: 30%;
        padding-top: 49px;
    }
</style>
<partial name="~/Views/Shared/Enquiry.cshtml" />
<div class="allcontain">
    <div class="bottommenu">
        <div class="bottomlogo">
            <span class="dotlogo" style="color:black; font-family: montserrat">&bullet;</span><img style="height: 70px; width: 250px;" src="~/UploadedFiles/Logo/@ViewData["imageoflogo"]" alt="logo1"><span class="dotlogo" style="color:black; font-family: montserrat">&bullet;;</span>
        </div>
        <ul class="nav nav-tabs bottomlinks" style="align-content:center;">
            <li role="presentation">
                <a asp-action="Index" asp-controller="Home" style="font-family: montserrat; font-weight:600">HOME</a>
            </li>
            <li role="presentation">
                <a asp-action="ViewAllCars" asp-controller="Car" style="font-family: montserrat; font-weight:600">CARS</a>
            </li>
            <li role="presentation">
                <a asp-action="Book" asp-controller="RentACar" style="font-family: montserrat; font-weight:600">RENT A CAR</a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Contact" style="font-family: montserrat; font-weight:600">CONTACT US</a>
            </li>
        </ul>
        <p style="padding-top:20px; margin-bottom:0px; font-family: montserrat; font-size: 20px;">
            <b>Address: </b>  @ViewData["contactaddress"] <br>
            <b>POBox: </b>  @ViewData["contactboxoffice"] <br />
            <b>Contact Numbers: </b>  @ViewData["contactnumber1"], @ViewData["contactnumber2"]
        </p>
        <img src="~/landing/image/line.png" alt="line"> <br>
        <div class="bottomsocial">
            <a href="#"><i class="fa fa-facebook" style="color:dodgerblue"></i></a>
            <a href="#"><i class="fa fa-twitter" style="color:deepskyblue"></i></a>
            <a href="#"><i class="fa fa-google-plus" style="color:red"></i></a>
            <a href="#"><i class="fa fa-google-plus" style="color:red"></i></a>
        </div>
        <div class="footer">
            <div class="copyright" style="font-family: montserrat;">
                &copy; Copy right @DateTime.Now.Year | <a asp-action="Index" asp-controller="Policy">Policy </a>
            </div>
            <div class="atisda" style="font-family: montserrat;">
                Designed by <a href="">meckblvck </a>
            </div>
        </div>
    </div>
</div>