@model ImouRentACar.Models.Role

@{
    ViewData["Title"] = "Detials";
    Layout = null;
}

<!--MODAL HEADER-->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3> <strong> ROLE DETAILS </strong> </h3>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <b> Name </b>
                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8">
                    <b> Can Do Everything </b>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.CanDoEverything)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8">
                    <b> Manage Customers </b>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.CanManageCustomers)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8">
                    <b>Manage Cars</b>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.CanManageCars)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8">
                    <b> Manage Landing Details </b>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.CanManageLandingDetails)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8">
                    <b> Manage App Users</b>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.CanManageApplicationUsers)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8">
                    <b> Manage Bookings</b>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.CanManageBookings)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8">
                    <b> Manage Car Brands<b>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.CanManageCarBrand)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8">
                    <b> Manage Drivers</b>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.CanManageDrivers)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8">
                    <b> Manage Enquires<b>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.CanManageEnquires)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8">
                    <b> Manage LGA</b>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.CanManageLgas)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8">
                    <b> Manage States<b>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.CanManageStates)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8">
                    <b> Manage Prices</b>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.CanManagePrices)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8">
                    <b> Manage Passengers <b>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.CanManagePassengersInformation)
                </div>
            </div>
        </div>
        </div>
        <br />
        @if (Convert.ToString(ViewData["rolename"]) == "SuperUser")
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <b> Created By </b>
                        </div>
                        <div class="col-md-6">
                            @ViewData["createdby"]
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-5">
                            <b>Date Created</b>
                        </div>
                        <div class="col-md-7">
                            @Html.DisplayFor(model => model.DateCreated)
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <b> Modified By </b>
                        </div>
                        <div class="col-md-6">
                            @ViewData["modifiedby"]
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-5">
                            <b>Date Modified</b>
                        </div>
                        <div class="col-md-7">
                            @Html.DisplayFor(model => model.DateLastModified)
                        </div>
                    </div>
                </div>
            </div>
        }
</div>
<!--MODAL FOOTER-->
<div class="modal-footer">
    <div class="row pull-right">
        <div class="col-md-12">
            <a class="btn btn-danger" data-dismiss="modal">Cancel</a>
        </div>
    </div>
</div>