@model ImouRentACar.Models.LGA

@{
    ViewData["Title"] = "Detials";
    Layout = null;
}

<!--MODAL HEADER-->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3> <strong> @Html.DisplayFor(model => model.Name) </strong> </h3>
</div>

<!--MODAL BODY-->
<div class="modal-body">
    <div class="row">
        <div class="col-md-4">
            <dt>
               LGA NAME
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
        </div>
        <div class="col-md-4">
            <dt>
               STATE NAME
            </dt>
            <dd>
                @ViewData["statename"]
            </dd>
        </div>
    </div>
    <br />
    @if (Convert.ToString(ViewData["rolename"]) == "SuperUser")
    {
        <div class="row">
            <div class="col-md-3">
                <dt>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </dt>
                <dd>
                    @ViewData["creatorby"]
                </dd>
            </div>
            <div class="col-md-3">
                <dt>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DateCreated)
                </dd>
            </div>
            <div class="col-md-3">
                <dt>
                    Modified By
                </dt>
                <dd>
                    @ViewData["modifiedby"]
                </dd>
            </div>
            <div class="col-md-3">
                <dt>
                    Date Modified
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DateLastModified)
                </dd>
            </div>
        </div>
    }
</div>

<!--MODAL FOOTER-->
<div class="modal-footer">
    <div class="row pull-right">
        <div class="col-md-12">
            <a class="btn btn-danger" data-dismiss="modal">Cancel</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
