@model ImouRentACar.Models.Booking

@{
    Layout = "~/Views/Shared/LandingLayout/_LandingLayout.cshtml";
}

<div class="allcontain" style="background-color: #473454">
    <div class="container">
        <div class="" style="padding-bottom: 50px">
            <div class="feturedsection">
                <h1 style="font-size:40px; text-align: center; color: white; text-shadow: 1px 1px 2px #473454, 0 0 25px #765c6c, 0 0 5px #765c6c;" class="text-center"><span class="bdots">&bullet;</span>R E N T A L<span class="carstxt">F O R M</span>&bullet;</h1>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-6 col-md-offset-3 col-sm-offset-3 col-sm-6 col-sm-offset-3">
                    <form asp-action="RentalForm">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <h4 style="color: red; text-align:left; font-weight: 300; padding-bottom:20px;">PICK UP DETIALS</h4>
                        <div class="row">
                            <div class="col-md-4" style="padding-right: 5px">
                                <label style="color: whitesmoke;">STATE</label>
                                <select style="color: black; font-weight:500; text-align: center" class="form-control" id="state" asp-items="ViewBag.PickOffStateId">
                                    <option selected>---------- States--------</option>
                                </select>
                            </div>
                            <div class="col-md-4" style="padding-right: 5px">
                                <label style="color: whitesmoke;">LGA</label>
                                <select asp-for="PickUpLgaId" style="color: black; font-weight:500 " class="form-control" id="lga">
                                    <option selected> Pick Up Lga</option>
                                </select>
                                <span asp-validation-for="PickUpLgaId" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label style="color: whitesmoke;">DATE </label>
                                <input type="text" asp-for="PickUpDate" style="color: black; font-weight:500;" class="form-control datepicker" placeholder="Date" />
                                <span asp-validation-for="PickUpDate" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <label style="color: whitesmoke;">LOCATION </label>
                                <textarea type="text" asp-for="PickUpLocation" style="color: black; font-weight:500;" class="form-control " placeholder="Location"></textarea>
                                <span asp-validation-for="PickUpLocation" class="text-danger"></span>
                            </div>
                        </div>
                        <br />

                        <h4 style="color: red; text-align:left; font-weight: 300; padding-bottom:20px;">DROP OFF DETIALS</h4>
                        <div class="row">
                            <div class="col-md-4" style="padding-right: 5px">
                                <label style="color: whitesmoke;">STATE</label>
                                <select style="color: black; font-weight:500; text-align: center" class="form-control" id="state2" asp-items="ViewBag.DropOffStateId">
                                    <option selected>---------- States--------</option>
                                </select>
                            </div>
                            <div class="col-md-4" style="padding-right: 5px">
                                <label style="color: whitesmoke;">LGA</label>
                                <select asp-for="ReturnLgaId" style="color: black; font-weight:500 " class="form-control" id="lga2">
                                    <option selected> Pick Up Lga</option>
                                </select>
                                <span asp-validation-for="ReturnLgaId" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label style="color: whitesmoke;">DATE </label>
                                <input type="text" asp-for="ReturnDate" style="color: black; font-weight:500;" class="form-control datepicker" placeholder="Date" />
                                <span asp-validation-for="ReturnDate" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <label style="color: whitesmoke;">LOCATION </label>
                                <textarea type="text" asp-for="ReturnLocation" style="color: black; font-weight:500;" class="form-control " placeholder="Location"></textarea>
                                <span asp-validation-for="ReturnLocation" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <h4 style="color: red; text-align:left; font-weight: 300; padding-bottom:20px;">DESTINATION</h4>
                        <div class="row">
                            <label style="color: whitesmoke;">DESTINATION </label>
                            <textarea type="text" asp-for="Destination" style="color: black; font-weight:500;" class="form-control " placeholder="Destination"></textarea>
                            <span asp-validation-for="Destination" class="text-danger"></span>
                        </div>
                        <br />
                        <button type="submit" style="background-color: #020243; color: white;" class="btn pull-right btn-submit">  Next <i class="fa fa-long-arrow-right"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="copyright">
        &copy; Copy right @DateTime.Now.Year | <a href="#">Privacy </a>| <a href="#">Policy</a>
    </div>
    <div class="atisda">
        Designed by <a href="http://www.webdomus.net/">meckblvck </a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/DatePicker/jquery-ui.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                minDate: new Date(@DateTime.Now.Year, @DateTime.Now.Month - 1, @DateTime.Now.Day),

            });
        });
    </script>
    <script>
        $(function () {
            $(".datepicker2").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                minDate: new Date(@DateTime.Now.Year, @DateTime.Now.Month - 1, @DateTime.Now.Day),
            });
        });
    </script>
    @*<script>
        function validateForm() {
            var pickuplocation = document.forms["RentalForm"]
            ["pickUpLocation"].value;
            if (pickuplocation == "") {
                $('#pickup').append('<p class="text-danger">Pick up location is required</p>')
                return false;
            }
            var dropofflocation = document.forms["RentalForm"]
            ["dropOffLocation"].value;
            if (dropofflocation == "") {
                $('#dropoff').append('<p class="text-danger">Drop off location is required</p>')
                return false;
            }
            var pickupdate = document.forms["RentalForm"]
            ["pickUpDate"].value;
            Console.log(pickupdate);
            var dropoffdate = document.forms["RentalForm"]
            ["dropOffDate"].value;
            Console.log(dropoffdate);
        }
    </script>*@
    <script>
        $(document).ready(function () {
            if ($('#state').val() != '') {
                getLGAs();
            }
            $('#state').on('input', function () {
                getLGAs();
            });
            function getLGAs() {
                $('#lga').children("option").remove();
                $.ajax({
                    type: 'GET',
                    url: '/Booking/GetLgasForState',
                    dataType: 'json',
                    data: { id: $('#state').val() },
                    success: function (lga) {
                        console.log(lga);
                        $.each(lga, function (i, lga) {
                            $('#lga').append('<option value="' + lga.lgaId + '">' + lga.name + '</option>');
                        });
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        });
        $(document).ready(function () {
            if ($('#state2').val() != '') {
                getLGAs();
            }
            $('#state2').on('input', function () {
                getLGAs();
            });
            function getLGAs() {
                $('#lga2').children("option").remove();
                $.ajax({
                    type: 'GET',
                    url: '/Booking/GetLgasForState',
                    dataType: 'json',
                    data: { id: $('#state2').val() },
                    success: function (lga) {
                        console.log(lga);
                        $.each(lga, function (i, lga) {
                            $('#lga2').append('<option value="' + lga.lgaId + '">' + lga.name + '</option>');
                        });
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        });
    </script>

}
