@model IEnumerable<ImouRentACar.Models.RentACar>

@{
    ViewData["Title"] = "View Bookings";
    Layout = "~/Views/Shared/LandingLayout/_LandingLayout.cshtml";
    var x = 1;
}


<div class="allcontain" style="background-color: white">
    <div class="container" style="padding-bottom: 146px">
        <div class="feturedsection">
            <h1 style="font-size:40px; margin-top:2px;  padding-top:5px; padding-bottom:5px; text-align: center; color: black; "
                class="text-center">
                &bullet; CAR RENTAL &bullet;
            </h1>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-md-offset-2">
                <table class="table" id="myTable">
                    <thead>
                        <tr>
                            <th>
                                S/N
                            </th>
                            <th>
                                Pick Up Date
                            </th>
                            <th>
                                Pick Up Location
                            </th>
                            <th>
                                Number of rented days
                            </th>
                            <th>
                                Amount
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @(x++)
                                </td>
                                <td>
                                    @item.PickDate
                                </td>
                                <td>
                                    @item.PickUpLocation
                                </td>
                                <td>
                                    @item.Days
                                </td>
                                <td>
                                    @item.TotalBookingPrice
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="copyright">
        &copy; Copy right @DateTime.Now.Year | <a href="#">Privacy </a>| <a href="#">Policy</a>
    </div>
    <div class="atisda">
        Designed by <a href="#">meckblvck </a>
    </div>
</div>

<script src="~/Admin/bower_components/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            columnDefs: [
                {
                    targets: [0, 1, 2],
                    className: 'dataTable'
                }
            ]
        });
    });
</script>