@model ImouRentACar.Models.PassengerInformation

@{
    ViewData["Title"] = "PassengerInformation";
    Layout = "~/Views/Shared/LandingLayout/_LandingLayout.cshtml";
}
<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 400px;
        margin: auto;
        text-align: center;
        color: white;
    }

    .title {
        color: grey;
        font-size: 18px;
    }

    h5 {
        font-size: small;
        margin-bottom: 3px;
        margin-top: 3px;
    }

    b {
        color: red;
        font-family: Arial
    }

    .utton {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

    button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

    .feturedsection > h1 {
        font-family: "OpenSans-Light";
        font-size: 41px;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #020243;
    }

    button:hover, a:hover {
        opacity: 0.7;
    }
</style>

<div class="allcontain" style="background-color: #473454">
    <div class="container">
        <div class="" style="padding-bottom: 50px">
            <div class="feturedsection">
                <h1 style="font-size:40px; text-align: center; color: white; font-family: montserrat; text-shadow: 1px 1px 2px #473454, 0 0 25px #765c6c, 0 0 5px #765c6c;" class="text-center">&bullet; PASSSENGER INFORMATION &bullet;</h1>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <form asp-action="PassengerInformation" asp-controller="OneWayTrip">
                                @if (TempData["customername"] == null || Convert.ToString(TempData["customername"]) == " ")
                                {
                                    <div class="row">
                                        <div class="col-md-2" style="padding-right: 5px">
                                            <label style="color: whitesmoke; font-family: montserrat;">TITLE <b style="color:red;">*</b></label>
                                            <select asp-for="Title" style=" font-family: montserrat;" class="form-control" asp-items="new SelectList(Enum.GetValues(typeof(ImouRentACar.Models.Enums.Title)))"></select>
                                            <span asp-validation-for="Title" style=" font-family: montserrat;" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-5" style="padding-right: 5px">
                                            <label style="color: whitesmoke; font-family: montserrat;">FIRST NAME <b style="color:red;">*</b></label>
                                            <input asp-for="FirstName" style=" font-family: montserrat;" class="form-control " placeholder="First Name" />
                                            <span asp-validation-for="FirstName" style=" font-family: montserrat;" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-5">
                                            <label style="color: whitesmoke; font-family: montserrat;">LAST NAME <b style="color:red;">*</b></label>
                                            <input asp-for="LastName" style=" font-family: montserrat;" class="form-control " placeholder="Last Name" />
                                            <span asp-validation-for="LastName" style=" font-family: montserrat;" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-6" style="padding-right: 5px">
                                            <label style="color: whitesmoke; font-family: montserrat;">MIDDLE NAME </label>
                                            <input asp-for="MiddleName" style=" font-family: montserrat;" class="form-control " placeholder="Middle Name" />
                                            <span asp-validation-for="MiddleName" style=" font-family: montserrat;" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-6">
                                            <label style="color: whitesmoke; font-family: montserrat;">EMAIL ADDRESS <b style="color:red;">*</b></label>
                                            <input asp-for="Email" style=" font-family: montserrat;" class="form-control " placeholder="Email Address" />
                                            <span asp-validation-for="Email" style=" font-family: montserrat;" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-4" style="padding-right: 5px">
                                            <label style="color: whitesmoke; font-family: montserrat;">DATE OF BIRTH </label>
                                            <input asp-for="DOB" style=" font-family: montserrat;" class="form-control datepicker" placeholder="Date Of Birth" />
                                            <span asp-validation-for="DOB" style=" font-family: montserrat;" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-4" style="padding-right: 5px">
                                            <label style="color: whitesmoke; font-family: montserrat;">GENDER <b style="color:red;">*</b></label>
                                            <select asp-for="Title" style=" font-family: montserrat;" class="form-control" asp-items="new SelectList(Enum.GetValues(typeof(ImouRentACar.Models.Enums.Gender)))"></select>
                                            <span asp-validation-for="Gender" style=" font-family: montserrat;" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-4">
                                            <label style="color: whitesmoke; font-family: montserrat;">PHONE NUNMBER <b style="color:red;">*</b></label>
                                            <input asp-for="PhoneNumber" style=" font-family: montserrat;" class="form-control " placeholder="Phone Number" />
                                            <span asp-validation-for="PhoneNumber" style=" font-family: montserrat;" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label style="color: whitesmoke; font-family: montserrat;">MEMBER ID</label>
                                            <input asp-for="MemberId" style=" font-family: montserrat;" class="form-control " placeholder="Member ID" />
                                            <span asp-validation-for="MemberId" style=" font-family: montserrat;" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <br />
                                    <button type="submit" style="background-color: #020243; color: white; font-family: montserrat;" class="btn pull-right btn-submit">  SUBMIT</button>
                                }
                                else
                                {
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3 style="color: white; font-family: montserrat;">
                                                <input type="hidden" asp-for="FirstName" />
                                                <input type="hidden" asp-for="LastName" />
                                                <input type="hidden" asp-for="PhoneNumber" />
                                                <input type="hidden" asp-for="Title" />
                                                <input type="hidden" asp-for="Gender" />
                                                <input type="hidden" asp-for="Email" />

                                                All information required for the passenger information form has been gotten from the logged in customer.
                                            </h3>
                                        </div>
                                    </div>
                                    <br />
                                    <button type="submit" style="background-color: #020243; color: white; font-family: montserrat;" class="btn pull-right btn-submit">  SUBMIT</button>

                                }
                            </form>
                        </div>
                        <div class=" col-md-6">
                            <div class="card">
                                <img src="~/UploadedFiles//Cars/@TempData["carimage"]" alt="CarImage" style="width:100%" height="400px;" />
                                <div class="row" style="padding-top: 3px;">
                                    <div class="col-md-6">
                                        <h5 style="color:#000; font-weight:bold"><b style="color:white">CAR BRAND: </b>@TempData["carbrand"]</h5>
                                    </div>
                                    <div class="col-md-6">
                                        <h5 style="color:#000; font-weight:bold"><b style="color:white">CAR NAME: </b>@TempData["carname"]</h5>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-5">
                                        <h5 style="color:#000; font-weight:bold"><b style="color:white">CAR PRICE: </b> &#8358 @TempData["carprice"]</h5>
                                    </div>
                                    <div class="col-md-7">
                                        <h5 style="color:#000; font-weight:bold"><b style="color:white">FROM: </b>@TempData["pickuplocation"]</h5>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <h5 style="color:#000; font-weight:bold"><b style="color:white">TO: </b>@TempData["returnlocation"]</h5>
                                    </div>
                                    <div class="col-md-6">
                                        <h5 style="color:#000; font-weight:bold"><b style="color:white">DROP PRICE: </b> &#8358 @TempData["destinationprice"]</h5>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-8">
                                        <h5 style="color:#000; font-weight:bold"><b style="color:white">TOTAL COST: </b> &#8358 @TempData["totalprice"]</h5>
                                    </div>
                                </div>
                                <p><a class="btn utton" asp-action="Cancel" asp-controller="Booking">CANCEL BOOKING</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="copyright" style="font-family: montserrat;">
        &copy; Copy right 2018 | <a href="#">Privacy </a>| <a href="#">Policy</a>
    </div>
    <div class="atisda" style="font-family: montserrat;">
        Designed by <a href="">meckblvck </a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/DatePicker/jquery-ui.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                maxDate: new Date(@DateTime.Now.Year - 17, 0, 0),
            });
        });
    </script>
}